<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Steam2csv</title>
  <!-- Meta -->
  <meta name="theme-color" content="#171a21" media="(prefers-color-scheme: light)">
  <meta name="description" content="An Elite Grade tool to convert your Steam library to a .csv file.">
  <meta property="og:title" content="Steam2csv">
  <meta property="og:description" content="An Elite Grade tool to convert your Steam library to a .csv file.">
  <meta property="og:image" content="https://steam2csv.yashburshe.com/images/icon-192.png">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://steam2csv.yashburshe.com">
  <link rel="canonical" href="https://steam2csv.yashburshe.com">
  <!-- Links -->
  <link rel="stylesheet" href="index.css" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="icon" href="/images/favicon.ico" sizes="32x32" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet"
  />
</head>
