<div class="container p-2">
  <nav class="navbar">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img src=" archive.svg" />
        Steamley
      </a>
      <form class="d-flex" action="/games" method="GET">
        <!-- <input class="form-control" name="id" placeholder="Enter your steam id/custom url "></input> -->
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="id"
            placeholder="Enter your Steam id/Custom URL"
          />
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </nav>
</div>
