<nav>
        <div class="nav-wrapper">
            <div class="logo">
                <img src=" archive.svg" />
                <a href="/">
                    <h1>SLE</h1>
                </a>
            </div>
            <form class="searchbar" action="/games" method="GET">
                <input name="id" placeholder="Enter your "></input>
                <button>Submit</button>
            </form>
        </div>
</nav>