<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error | SLE</title>
    <link rel="stylesheet" href="index.css" />
    <meta name="theme-color" content="#171a21">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="bg"></div>
    <div class="content-wrapper">
        <h1 style="text-align: center;">
            <%   if(typeof message != "undefined" && message) { %>
            <strong>
                <%=  message  %>
            </strong>
            <% }    %>
        </h1>
        <% if(code == 2) { %>
        <h2>How to make your Steam profile public</h2>
        <ol style="text-align: left">
            <li>
                From your Steam Profile, click the Edit Profile link under your displayed badge.
            </li>
            <li>
                Click the My Privacy Settings tab
            </li>
            <li>
                Select your privacy state
            </li>
            <li>
                Click the Save button
            </li>
        </ol>
        <img style="width: 400px" src="images/privacy.png" />
    </div>
    <% } %>
    <%- include('partials/footer.ejs') %>
</body>

</html>