<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Help | SLE</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <meta name="theme-color" content="#171a21" />
  </head>

  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="bg"></div>
    <div class="help">
      <div class="info-hero">
        <h2>Custom URL for Steam</h2>
        <p>How to create a custom URL for your Steam profile</p>
      </div>
      <div class="separator"></div>
      <div class="info">
        <ol>
          <li>Go to your Steam profile</li>
          <li>Click 'Edit Profile'</li>
          <li>Scroll to 'Set a custom URL'</li>
          <li>
            You can set whatever to be your custom URL as long as it is unique
          </li>
          <li>Save your profile</li>
          <li>
            You can now access your Steam profile by visiting
            'https://steamcommunity.com/id/YOURURL'
          </li>
        </ol>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
