<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | SLE</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <nav>
        <a href="/">
            <h1>SLE</h1>
        </a>
        <form action="/games" method="GET">
            <input name="steamuname"></input>
            <button>Submit</button>
        </form>
    </nav>
</body>

</html>