<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="content-wrapper">
      <div class="index-wrapper">
        <form action="/games" method="GET">
          <input
            type="text"
            name="id"
            placeholder="Enter your Steam id/Custom URL"
          />
          <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
        </form>
        <h2>Welcome to the Boiler Room</h2>
        <p>Get started by entering your custom Steam URL or Steam ID</p>
          <h3>Where do I find my custom Steam URL?</h3>
          <ol>
            <li>Go to your steam profile</li>
            <li>https://steamcommunity.com/id/YOURURL</li>
            <li>'YOURURL' is your custom Steam URL</li>
          </ol>
          <h3>Where do I find my Steam ID?</h3>
          <ol>
            <li>Log in to your account on Steam</li>
            <li>Go to your profile</li>
            <li>https://steamcommunity.com/profile/765XXXXXXXXXXXXXX</li>
          </ol>
          <h3>How to create a custom URL</h3>
          <ol>
            <li>Go to your Steam profile</li>
            <li>Click 'Edit Profile'</li>
            <li>Scroll to 'Set a custom URL'</li>
            <li>
              You can set whatever to be your custom URL as long as it is unique
            </li>
            <li>Save your profile</li>
          </ol>
      </div>
    </div> 
    <%- include('partials/footer.ejs') %>
  </body>
</html>
