* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

.bg {
    background: linear-gradient(180deg, #171a21 0%, #171a21 5%, #2A475E 20%, #1B2838 80%);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -99;
    position: fixed;
}

nav {
    background-color: #171a21;
    padding: 2rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

.nav-wrapper {
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper .logo {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.nav-wrapper .logo a {
    color: white;
    text-decoration: none;
}

.searchbar {
    display: flex;
}

.searchbar input,
.searchbar button {
    color: white;
    border: none;
    padding: .7rem;
}

.searchbar input {
    outline: none;
    /*    background-color: #316282aa;*/
    background-color: #ababab;
    color: black;
    border: 1px solid #3162828d;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    min-width: 30ch;
    box-shadow: inset .2px .2px 5px rgba(0, 0, 0, 0.5);
}

.searchbar button {
    background-color: #316282;
    border-radius: 0px 5px 5px 0px;
    transition: background-color .2s ease;
}

.searchbar button:hover {
    background-color: #316282bc;
    cursor: pointer;
}

.info-wrapper {
    max-width: 50ch;
    margin: 3rem auto;
    color: white;
}

.info {
    overflow-x: hidden;
    margin: 1.2rem 0rem;
}

.info a {
    color: white;
}

.info ol {
    margin: 0rem 1rem;
    margin-top: .5rem;
}

.info ol li {
    margin: .2rem;
}

.separator {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: .5rem 0rem;
    width: 100%;
}

.content-wrapper {
    padding: 2rem;
    color: white;
}

.games-list {
    margin: 1rem;
}

#search {
    width: 100%;
}

footer {
    font-size: .8rem;
    color: white;
    text-align: center;
    font-size: .7rem;
    background-color: #1B2838;
    padding: 1rem;
}

footer a {
    color: white;
}

.help {
    padding: 2rem;
    color: white;
    max-width: 800px;
    margin: auto;
}

.table-head {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.profile {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.games_dl {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.games-list {
    max-width: 600px;
    margin: auto;
}

.games-list-header {
    display: flex;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px .2rem;
}

tr {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
}

td {
    padding: 1rem;
}

th {
    padding: 0.5rem;
}

.sortbox {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #316282;
    border-left: none;
    border-right: none;
}

.sortbox label {
    max-width: 10ch;
    font-size: .7rem;
    padding-left: .7rem;
}

.games-list-header input {
    color: white;
    border: none;
    padding: .7rem;
}

.games-list-header input {
    outline: none;
    background-color: #316282aa;
    color: white;
    border: 1px solid #316282;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    min-width: 30ch;
    box-shadow: inset .2px .2px 5px rgba(0, 0, 0, 0.5);
}

.games-list-header select {
    padding: .7rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0px 5px 5px 0px;
}


@media only screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }

    footer {
        width: 100%;
    }

    .nav-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
    }

    .games-list-header {
        flex-direction: column;
    }

    #sort {
        width: 100%;
    }
}