* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Switzer', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'General Sans', sans-serif;
}

:root {
    font-size: 12px;
}

body {
    color: white;
    background-color: #1D2024;
}

a {
    color: white;
    text-decoration: none;
}

li {
    margin: .4rem 0rem;
}

ol {
    margin-left: 1rem;
}

button {
    cursor: pointer;
    color: white;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    border: none;
    background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%);
    background-size: 200%;
    background-position: right 0;
    border-radius: 0px 3px 3px 0px;
}

input {
    border-radius: 3px 0px 0px 3px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
}

.searchbar {
    display: flex;
    gap: 0;
    justify-content: center;

}

.logo {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-bottom: 0.7rem;
}

.nav-wrapper {
    text-align: center;
    padding: 2rem;
    height: 20vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);

}

.grid-wrapper {
    width: 100%;
    display: grid;
    place-content: center;
}

.content-wrapper {
    position: relative;
    width: 100vw;
    height: 80vh;
}

.info-wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    width: 600px;
    margin: auto;
    /*    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.separator {
    height: 2px;
    width: 100%;
    background-color: #06bfff;
}

.games-bg {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: -1;
    width: calc(100vw + 100px);
    height: 80vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.games-bg--overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.games-bg img {
    width: 200px;
}

.info-hero {
    margin: 1rem;
    text-align: center;
}

.info-hero p {
    margin: auto;
    width: 20ch;
}

.info {
    margin: 1rem 1rem 1rem 2rem;
}

.info h3 {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .info-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .games-bg img {
        width: 300px;
    }
}

@media only screen and (max-width: 440px) {
    .nav-wrapper {
        height: 15vh;
    }

    .content-wrapper,
    .games-bg {
        height: 85vh;
    }

    .games-bg {
        width: 100vw;
    }

    .games-bg img {
        width: 100%;
    }

    .games-bg {
        grid-template-columns: repeat(2, 1fr);
    }

    /*.info-wrapper {
    width: 40ch;
    transform: translateY(20%);
}*/

    .info-hero p {
        width: 10ch;
    }

    .info {
        margin: 1rem 0.2rem;
    }
}

@media only screen and (min-width: 440px) {
    :root {
        font-size: 14px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
    }

    .content-wrapper,
    .games-bg {
        height: 85vh;
    }

    .logo {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}